submodules/
output_vast/
output_test/
datasets_new
datasets
output_whole_test_4/
output_whole_add_depth_2/
output_whole_delight_yupeng/
output_whole_add_depth_yupeng/
output_new_data_wo_multi/
output_whole_add_depth/
output_delight_add_depth/
result/
a3_half/
datasets/
datasets_new/
datasets_yupeng/
delight_images/
depth_Anything_V2/
depth_images_delight/
output/
pic/
submodules
output_vast_add_dpt
output_noraml/
checkpoints
datasets_yupeng
dataset_restraunt
datasets_object
dataset_liyi
datasets_restaraunt_new
dataset_12_20
a3_half
assets
gaussian_renderer/__pycache__
scene/__pycache__